
body {
  background-color: #212121;
  color: white;
}

.topBar {
  background-color: #111111;
}

.topBarInner {
  margin-bottom: -20px;
}

#topBarLinks, #topBarLinks:link, #topBarLinks:visited, #topBarLinks:active {
  color: white;
}

#topBarLinks:hover {
  color: green;
}

.noSpaceHR {
  margin-bottom: 0%;
}

.topBar2 {
  background-color: #171717;
}