
body {
  background-color: #212121;
  color: white;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px white; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #171717;
    -webkit-box-shadow: inset 0 0 1px white; 
}

.topBar {
  background-color: #111111;
}

.topBarInner {
  margin-bottom: -20px;
  max-width: 100%;
}

#topBarLinks, #topBarLinks:link, #topBarLinks:visited, #topBarLinks:active {
  color: white;
}

#topBarLinks:hover {
  color: green;
}

.grid-container {
  display: grid;
  column-gap: 2.5%;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10%
}

.card {
  background-color: #1B1B1B;
}

.toolSearch {
  color: white;
  background-color: #111111;
}

.toolSearch:focus {
  color: white;
  background-color: #303030;
}